<%= form_for @post do |f| %>
  <div class="form_control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form_control">
    <%= f.label :preview %>
    <%= f.text_area :preview %>
  </div>

  <div class="form_control">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="form_control">
    <%= f.submit 'сохранить' %>
  </div>
<% end %>